$serif-fonts: Georgia, Cambria, "Times New Roman", serif;
$font-base-size: 20px;
$background-color: #dad2d8;
$primary-color: #294853;
$secondary-color: #0f8b8d;
$third-color: #01295f;
$fouth-color: white;