@import "_variables";

body {
  font-family: $serif-fonts;
  font-size: $font-base-size;
  background-color: $background-color;
  text-align: center;
}
.intro {
  display: flex;
}
.content {
  flex-basis: 0;
  margin: 6px;
  float:left;
}
#left-intro {
  text-align: right;
  margin-left: 300px;
}
#right-intro {
  flex: 2;
  text-align: left;
}
.likes{
  display: inline-block;
  color: $third-color;
  .content {
    padding: $font-base-size * 0.025 em;
    h4 {
      text-decoration: underline;
    }
  }
}

.experience {
  text-align: left;
  font-size: $font-base-size * 1.3;
  margin-left: 300px;
  p {
    font-size: $font-base-size * 2;
    font-weight: bold;
  }
  ul {
    margin: 0;
    list-style-type: none;
    li {
      text-indent: -5px;
    }
    li:before {
      content: "-";
      text-indent: -5px;
    }
  }
}


