@import "_variables";

body {
  font-family: $serif-fonts;
  font-size: $font-base-size;
  background-color: $background-color;
  text-align: center;
}
.intro {
  display: flex;
}
.content {
  flex: 1;
  flex-basis: 0;
  margin: 6px;
  float:left;
}
#left-intro {
  flex: 1;
  text-align: right;
}
#right-intro {
  flex: 2;
  text-align: left;
}
.likes{
  display: inline-block;
  color: $third-color;
}
.likes > .content {
  padding: $font-base-size * 0.025 em;
}


